.full-content {
    margin: 0 5% 15px 5%;

    .content-left {
        h1 {
            width: 60%;
            color: #ff6060;
            font-weight: 500;
            font-size: 36px;
            margin: 0;
        }

        p {
            color: #ff6060;
            font-size: 18px;
            margin: 0 0 15px 0;
        }
    }
}