.full-content {
    margin: 0 5% 15px 5%;
    display: flex;
    justify-content: space-between;

    .content-left {
        h1 {
            color: #ff6060;
            font-weight: 500;
            font-size: 36px;
            margin: 0;
        }

        p {
            color: #ff6060;
            font-size: 18px;
            margin: 0 0 15px 0;
        }
    }

    .content-right {
        color: #ff6060;

        .host {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            
            & .host-name {
                width: 50px;
                align-items: center;
            }
    
            img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    
    .full-content {
        flex-direction: column;

        .content-left {
            h1 {
                font-size: 18px;
            }
    
            p {
                font-size: 14px;
            }
        }

        .content-right {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 10px;

            .host {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 10px;
                
                & .host-name {
                    width: 50px;
                    align-items: center;
                }
        
                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                }
            }
        }
    }
    
}