.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 10px;

    a {
        width: auto;
        height: auto;

        .navbar-logo {
            height: 68px;
            margin-left: 0;
    
            img {
                width: 211px;
            }
        }
    }

    .acceuiletapropos {
        display: flex;
        gap: 80px;
        font-size: 24px;

        a {
            color: #ff6060;
            text-decoration: none;
            width: auto;
            height: auto;

            &:hover {
                text-decoration: underline; 
            }

            &.active,
            &:active {
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: 1000px){
    
        .navbar-logo {
            display: flex;
            align-items: center;
            width: 40%;

            img {
                width: 150px;
            }
        }
        .acceuiletapropos {
            gap: 30px;
            font-size: 16px;
        }
    }
}