.footer {
    background-color: black;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    figure {
        margin: 0 auto;
    }
    .copyright {
        color: #fff;
        margin: 20px auto 0 auto;
        cursor: default;
    }
}

@media screen and (max-width: 1024px){

    .copyright {
        width: 123px;
        font-size: 12px;
        text-align: center;
    }
}